h1 {
  color: dodgerblue;
}

h2 {
  color: SlateBlue;
}

body {
  background-color: lightgrey;
}

#titlePanel {
  color:green;
  background-color:lightblue;
  height: 45px;
  font-family: Papyrus, fantasy;
  font-size: 40px;
}

table, th, td {
  border: 3px solid tomato;
}